@font-face {
    font-family: yumin;
    src: url(../fonts/yumin.ttf);
}
@font-face {
  font-family: notosansjp;
  src: url(../fonts/NotoSansJP-Regular.otf);
}

html {
  font-family: 'yumin', sans-serif;
  background-color: rgb(250,247,238);
}

h1 {
    font-family: 'yumin', sans-serif;
}

h2, h3, a {
  font-family: 'notosansjp';
}

.flex-container {
  display: flex;
}

.main_right {
  background-color: rgb(200, 200, 201);
  height: 300px;
  width: 300px;
  overflow: scroll;
}

.main_container_right-align {

}

.big-headlines {
  color: white;
  font-size: 25px;
  text-align: left;
  padding-left: 25px;
}

.big_headlines_full {
  text-align: left;
  padding-left: 25px;
}

.big_headlines_full > a {
  font-family: 'notosansjp';
  color: white;
  font-size: 27px;
  text-decoration: none;
}

.useless_small_dialogue {
  font-family: 'yumin', sans-serif;
  font-size: 15px;
  padding-left: 5px;
}

.extra_small_text {
  font-size: 5px;
  color: white;
}

.article_headline {
  font-size: 20px;
  padding-left: 5px;
  text-align: left;
  vertical-align: middle;
  color: white;
}

.small_dialogue_author {
  font-family: 'yumin', sans-serif;
  font-size: 15px;
  color: black;
}

.left_aligned_list {
  font-family: 'notosansjp';
  text-align: left;
  font-size: 14px;
  list-style-type: circle;
  color: teal;
}

.right_aligned_list {
  font-family: 'notosansjp';
  text-align: right;
  font-size: 14px;
  list-style-type: circle;
}

a {
  color: rgb(16, 4, 133);
}

.main__nav__pages_a a:hover {
  font-size: 19px;
  color:rgb(19, 47, 187);
}

.no-style-link {
  font-size: 35px;
  color: yellow;
  text-decoration: none;
  cursor: help;
}

li .date_li::after {
  content: ' :: Last Updated: 2021/09/21';
  padding-right: 15px;
}

li > a {
  font-family: 'yumin', sans-serif;
}

.navbar > a:visited, .navbar > a:link {
  color: teal;
  text-decoration: none;
  font-weight: bold;
}

.navbar > a:hover {
  font-style: italic;
  color: Turquoise;
}

.canvas__sketches-container {
  float: right;
}

.centered_container {
  text-align: center;
  margin: auto;
  width: 600px;
}

.green_top_rect {
  background-color: rgb(7, 88, 126);
  height: 40px;
}

.main_container {
  height: max-content;
  width: 600px;
  background-color: rgb(200, 200, 201);
}

.no-link-display > div {
  color: rgb(87, 41, 41);
  text-decoration: none;
}

.creative-coding-embed {
  height: 400px;
  width: 600px;
}

.project-image {
  width: 600px;
  height: 200px;
}

.project-title {
  position: relative;
  top: 120px;
  font-family: 'notosansjp';
  font-size: 35px;
  color: yellow;
}
.project-title:hover {
  color: orangered;
  cursor: help;
}

p, h5 {
  color: teal;
}